{% extends 'base.html' %}

{% block content %}
{% if user.profile.donor %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>

  {% else %}
    <h1>Add Donation</h1>
  {% endif %}
{% endif %}
  
  <form action="" method="post">
   
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
  <a href="{% url 'index_donate' %}"><button>Cancel</button></a>

  <script>
    // create a datepicker
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  
    // initialize the meal select
    var selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
  </script>

{% endblock %}
