{% extends 'base.html' %}
{% block content %}

<h1>Donate </h1>

{% for Donate in Donate %}
{% if user.profile.donor %}
  <a href="{% url 'detail' Donate.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ Donate.item_name }}</span>
            <img src="{{ Donate.item_image }}"  width="40%"/>
            <p>Pick up date: {{ Donate.date }}</p>
            <p>Pick up time: {{ Donate.time }}</p>
            <p>Pick up location: {{ Donate.location }}</p>
            <p>Number of item: {{ Donate.num }}</p>
            <p>Type of item: {{ Donate.typeofDonate }}</p>
            {% for photo in Donate.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}">
          {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
          {% endfor %}

        </div>
    </div>
  </a>
{% endif %}
{% if user.profile.company %}
<div class="card">
  <div class="card-content">
      <span class="card-title">{{ Donate.item_name }}</span>
      <img src="{{ Donate.item_image }}"  width="40%"/>
      <p>Pick up date: {{ Donate.date }}</p>
      <p>Pick up time: {{ Donate.time }}</p>
      <p>Pick up location: {{ Donate.location }}</p>
      <p>Number of item: {{ Donate.num }}</p>
      <p>Type of item: {{ Donate.typeofDonate }}</p>
      <p>Availability: {{ Donate.status }}</p>
  
      {% if user.profile.company %}
      {% if Donate.status == True %}
      <a href="{% url 'donate_collect' Donate.id %}" style="background-color:blue ;"> 
       
          <button type="button" onclick="donate_collect()">
          Collect
          </button>
      </a>
      {% else %}
      <button  style="background-color:grey ;">
      
        Collected
        </button>
      {% endif %}
  {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}